<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>virtualproductinfo</name>
    <displayName><![CDATA[Virtual Product Info]]></displayName>
    <version><![CDATA[1.1.3]]></version>
    <description><![CDATA[Show details of virtual product on product page]]></description>
    <author><![CDATA[artem78]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>0</is_configurable>
    <need_instance>0</need_instance>
</module>
